<nav class="bg-white py-4 shadow-lg text-sm">
	<div class="container mx-auto flex items-center justify-between">
		<div class="text-accent text-3xl font-semibold">
			<h1 href="#">Logo</h1>
		</div>
		<!-- search -->
		<div class="hidden md:flex items-center mx-2">
			<input
				type="text"
				placeholder="Search here..."
				class="py-2 mx-auto max-w-md border-b-2 focus:border-accent focus:outline-none"
			/>
		</div>
		<!-- dropdowns -->
		<div class="flex items-center mr-4">
			<div class="hidden md:flex space-x-4 text-black">
				<div class="relative group">
					<button class="text-accent hover:text-accent">Home</button>
					<i
						class="fa-solid fa-chevron-down ml-2 text-xs text-accent"
					></i>
					<div
						class="absolute hidden group-hover:block bg-white text-zinc-700 py-2 mt-1 w-40 rounded shadow-lg"
					>
						<a href="#" class="block px-4 py-2 hover:bg-zinc-200"
							>About Us</a
						>
						<a href="#" class="block px-4 py-2 hover:bg-zinc-200"
							>Services</a
						>
					</div>
				</div>

				<div class="relative group">
					<button class="hover:text-accent">Pages</button>
					<i class="fa-solid fa-chevron-down ml-2 text-xs"></i>
					<div
						class="absolute hidden group-hover:block bg-white text-zinc-700 py-2 mt-1 w-40 rounded shadow-lg"
					>
						<a href="#" class="block px-4 py-2 hover:bg-zinc-200"
							>About Us</a
						>
						<a href="#" class="block px-4 py-2 hover:bg-zinc-200"
							>Services</a
						>
					</div>
				</div>

				<div class="relative group">
					<button class="hover:text-accent">Insurance</button>
					<i class="fa-solid fa-chevron-down ml-2 text-xs"></i>
					<div
						class="absolute hidden group-hover:block bg-white text-zinc-700 py-2 mt-1 w-40 rounded shadow-lg"
					>
						<a href="#" class="block px-4 py-2 hover:bg-zinc-200"
							>Life</a
						>
						<a href="#" class="block px-4 py-2 hover:bg-zinc-200"
							>Health</a
						>
					</div>
				</div>

				<div class="relative group">
					<button class="hover:text-accent">Blog</button>
					<i class="fa-solid fa-chevron-down ml-2 text-xs"></i>
					<div
						class="absolute hidden group-hover:block bg-white text-zinc-700 py-2 mt-1 w-40 rounded shadow-lg"
					>
						<a href="#" class="block px-4 py-2 hover:bg-zinc-200"
							>Latest</a
						>
						<a href="#" class="block px-4 py-2 hover:bg-zinc-200"
							>Popular</a
						>
					</div>
				</div>

				<div class="relative group">
					<button class="hover:text-accent">Contact Us</button>
					<i class="fa-solid fa-chevron-down ml-2 text-xs"></i>
					<div
						class="absolute hidden group-hover:block bg-white text-zinc-700 py-2 mt-1 w-40 rounded shadow-lg"
					>
						<a href="#" class="block px-4 py-2 hover:bg-zinc-200"
							>Get in Touch</a
						>
						<a href="#" class="block px-4 py-2 hover:bg-zinc-200"
							>Support</a
						>
					</div>
				</div>
			</div>
		</div>

		<div class="hidden md:flex items-center space-x-4">
			<span class="flex items-center"
				><img
					src="/assets/images/icons/phone_icon.png"
					alt="phone icon"
					class="mb-1 mr-2 w-4"
				/>
				+123-456-7890</span
			>

			<button
				class="bg-accent items-center flex text-white px-4 py-2 rounded hover:bg-accent"
			>
				<img
					src="/assets/images/icons/quote_icon.png"
					alt="phone icon"
					class="h-3 w-3 mr-2"
				/>
				Get a Quote
			</button>

			<img
				src="/assets/images/icons/hamburger_icon.png"
				alt="hamburger icon"
				class="h-10 w-10"
			/>
		</div>
	</div>
	<!-- mobile -->
	<div class="md:hidden bg-zinc-700 mt-2 p-4">
		<input
			type="text"
			placeholder="Search..."
			class="w-full px-4 py-2 mb-4 rounded focus:outline-none focus:ring-2 focus:ring-blue-400"
		/>

		<a href="#" class="block text-white py-2 hover:text-accent">Home</a>
		<a href="#" class="block text-white py-2 hover:text-accent">Pages</a>
		<a href="#" class="block text-white py-2 hover:text-accent"
			>Insurance</a
		>
		<a href="#" class="block text-white py-2 hover:text-accent">Blog</a>
		<a href="#" class="block text-white py-2 hover:text-accent"
			>Contact Us</a
		>

		<div class="mt-4 flex flex-col items-start">
			<span class="text-white"> +123-456-7890</span>
			<button
				class="bg-accent text-white px-4 py-2 mt-2 rounded hover:bg-accent"
			>
				Get Demo
			</button>
		</div>
	</div>
</nav>
