<nav class="bg-white p-4 shadow-lg">
	<div class="container mx-auto flex items-center justify-between">
		<div class="text-accent text-xl font-semibold">
			<a href="#">Logo</a>
		</div>
		<!-- search -->
		<div class="hidden md:flex items-center mx-4 flex-1">
			<input
				type="text"
				placeholder="Search here..."
				class="px-4 py-2 w-full max-w-md border-b-2 focus:border-accent focus:outline-none"
			/>
		</div>
		<!-- Dropdowns -->
		<div class="hidden md:flex space-x-4 text-black">
			<div class="relative group">
				<button class="text-accent hover:text-accent">Home</button>
				<div
					class="absolute hidden bg-white text-gray-700 py-2 mt-1 w-40 rounded shadow-lg"
				></div>
			</div>

			<div class="relative group">
				<button class="hover:text-accent">Pages</button>
				<div
					class="absolute hidden group-hover:block bg-white text-gray-700 py-2 mt-1 w-40 rounded shadow-lg"
				>
					<a href="#" class="block px-4 py-2 hover:bg-gray-200"
						>About Us</a
					>
					<a href="#" class="block px-4 py-2 hover:bg-gray-200"
						>Services</a
					>
				</div>
			</div>

			<div class="relative group">
				<button class="hover:text-accent">Insurance</button>
				<div
					class="absolute hidden group-hover:block bg-white text-gray-700 py-2 mt-1 w-40 rounded shadow-lg"
				>
					<a href="#" class="block px-4 py-2 hover:bg-gray-200"
						>Life</a
					>
					<a href="#" class="block px-4 py-2 hover:bg-gray-200"
						>Health</a
					>
				</div>
			</div>

			<div class="relative group">
				<button class="hover:text-accent">Blog</button>
				<div
					class="absolute hidden group-hover:block bg-white text-gray-700 py-2 mt-1 w-40 rounded shadow-lg"
				>
					<a href="#" class="block px-4 py-2 hover:bg-gray-200"
						>Latest</a
					>
					<a href="#" class="block px-4 py-2 hover:bg-gray-200"
						>Popular</a
					>
				</div>
			</div>

			<div class="relative group">
				<button class="hover:text-accent">Contact Us</button>
				<div
					class="absolute hidden group-hover:block bg-white text-gray-700 py-2 mt-1 w-40 rounded shadow-lg"
				>
					<a href="#" class="block px-4 py-2 hover:bg-gray-200"
						>Get in Touch</a
					>
					<a href="#" class="block px-4 py-2 hover:bg-gray-200"
						>Support</a
					>
				</div>
			</div>
		</div>

		<div class="hidden md:flex items-center space-x-4">
			<span class="flex items-center"
				><img
					src="/assets/images/icons/phone_icon.png"
					alt="phone icon"
				/>
				+123-456-7890</span
			>

			<button
				class="bg-accent flex text-white px-4 py-2 rounded hover:bg-accent"
			>
				<img
					src="/assets/images/icons/quote_icon.png"
					alt="phone icon"
				/>
				Get a Quote
			</button>
		</div>

		<button class="md:hidden text-white">
			<svg
				class="w-6 h-6"
				fill="none"
				stroke="currentColor"
				viewBox="0 0 24 24"
				xmlns="http://www.w3.org/2000/svg"
			>
				<path
					stroke-linecap="round"
					stroke-linejoin="round"
					stroke-width="2"
					d="M4 6h16M4 12h16M4 18h16"
				></path>
			</svg>
		</button>

		<img src="/assets/images/icons/hamburger_icon.png" alt="" />
	</div>
	<!-- mobile -->
	<div class="md:hidden bg-gray-700 mt-2 p-4">
		<input
			type="text"
			placeholder="Search..."
			class="w-full px-4 py-2 mb-4 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-400"
		/>

		<a href="#" class="block text-white py-2 hover:text-accent">Home</a>
		<a href="#" class="block text-white py-2 hover:text-accent">Pages</a>
		<a href="#" class="block text-white py-2 hover:text-accent"
			>Insurance</a
		>
		<a href="#" class="block text-white py-2 hover:text-accent">Blog</a>
		<a href="#" class="block text-white py-2 hover:text-accent"
			>Contact Us</a
		>

		<div class="mt-4 flex flex-col items-start">
			<span class="text-white"> +123-456-7890</span>
			<button
				class="bg-accent text-white px-4 py-2 mt-2 rounded hover:bg-accent"
			>
				Get Demo
			</button>
		</div>
	</div>
</nav>
