<section class="bg-white">
	<div class="container mx-auto px-6 md:px-12">
		<div class="text-center mt-20 mb-12">
			<h6 class="text-accent mb-4 uppercase">Insurance Services</h6>
			<h2
				class="text-3xl mx-auto md:text-4xl font-semibold text-zinc-800 w-1/2 capitalize"
			>
				Take the worry out of life with insurance protection
			</h2>
		</div>

		<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
			<div
				class="relative bg-cover bg-center rounded h-88 bg-[url('/assets/images/services1.png')]"
			>
				<div
					class="absolute bottom-6 left-6 right-6 bg-accent h-24 bg-opacity-70 p-4 rounded-b-lg"
				>
					<p class="text-zinc-300 mt-2">INSURANCE O VEHICLE</p>
					<h4 class="text-lg font-semibold text-white">
						Business Insurance
					</h4>
				</div>
			</div>

			<div
				class="relative bg-cover bg-center rounded h-88 bg-[url('/assets/images/services2.png')]"
			>
				<div
					class="absolute bottom-6 left-6 right-6 bg-accent h-24 bg-opacity-70 p-4 rounded-b-lg"
				>
					<p class="text-zinc-300 mt-2">INSURANCE O VEHICLE</p>
					<h4 class="text-lg font-semibold text-white">
						Vehicle Insurance
					</h4>
				</div>
			</div>

			<div
				class="relative bg-cover bg-center rounded h-88 bg-[url('/assets/images/services3.png')]"
			>
				<div
					class="absolute bottom-6 left-6 right-6 bg-accent h-24 bg-opacity-70 p-4 rounded-b-lg"
				>
					<p class="text-zinc-300 mt-2">INSURANCE O Car</p>
					<h4 class="text-lg font-semibold text-white">
						Car Insurance
					</h4>
				</div>
			</div>
		</div>

		<p class="text-center mt-16 text-zinc-500 w-3/4 mx-auto">
			Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas
			deleniti tempore laudantium est dolores. Magnam sit pariatur, vero
			neque repellat aspernatur!
			<span class="text-accent font-semibold">View All</span>
		</p>
	</div>
</section>
