<section class="bg-zinc-50 py-16">
	<div class="container mx-auto px-6 md:px-12">
		<div class="text-center">
			<h6 class="text-accent uppercase">Insurance Services</h6>
			<h2 class="text-3xl md:text-4xl font-bold text-zinc-800 capitalize">
				Take the worry out of life with insurance protection
			</h2>
		</div>
		<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
			<div
				class="relative bg-cover bg-center rounded h-64 bg-[url('/assets/images/services1.png')]"
			>
				<div
					class="absolute bottom-0 left-0 right-0 bg-accent bg-opacity-70 p-4 rounded-b-lg"
				>
					<p class="text-zinc-300">INSURANCE O VEHICLE</p>
					<h4 class="text-lg font-bold text-white">
						Business Insurance
					</h4>
				</div>
			</div>

			<div
				class="relative bg-cover bg-center rounded h-64 bg-[url('/assets/images/services2.png')]"
			>
				<div
					class="absolute bottom-0 left-0 right-0 bg-accent bg-opacity-70 p-4 rounded-b-lg"
				>
					<p class="text-zinc-300">INSURANCE O VEHICLE</p>
					<h4 class="text-lg font-bold text-white">
						Vehicle Insurance
					</h4>
				</div>
			</div>

			<div
				class="relative bg-cover bg-center rounded h-64 bg-[url('/assets/images/services3.png')]"
			>
				<div
					class="absolute bottom-0 left-0 right-0 bg-accent bg-opacity-70 p-4 rounded-b-lg"
				>
					<p class="text-zinc-300">INSURANCE O CAR</p>
					<h4 class="text-lg font-bold text-white">Car Insurance</h4>
				</div>
			</div>
		</div>
		<p class="text-center">
			Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas
			deleniti tempore laudantium est dolores. Magnam sit pariatur, vero
			neque repellat aspernatur! Temporibus doloribus sequi, dignissimos
			impedit adipisci maiores quis culpa.
		</p>
	</div>
</section>
