<section class="bg-white pb-20">
	<div class="container mx-auto px-6 md:px-12 text-center">
		<h6 class="text-sm font-semibold text-accent uppercase mb-2">
			Ready to Get Started
		</h6>
		<h2
			class="text-3xl md:text-4xl font-semibold w-1/2 mx-auto text-zinc-800 capitalize mb-4"
		>
			Get the Latest Insurance News in Minutes
		</h2>
		<p class="text-zinc-600 mb-8 w-1/2 mx-auto">
			Stay updated with our latest offers and insights. Subscribe now to
			receive timely updates directly in your inbox!
		</p>

		<div
			class="flex flex-col md:flex-row items-center justify-center max-w-md mx-auto"
		>
			<input
				type="email"
				placeholder="Email Address"
				class="w-full md:flex-grow py-2 px-3 bg-[#f3f3f3] focus:outline-none focus:border-accent focus:border-2 rounded-l border border-[#e8e8e7]"
			/>
			<button
				class="mt-4 md:mt-0 md:ml-0 w-full md:w-auto border-2 border-accent flex items-center justify-center px-6 py-2 bg-accent text-white rounded-r"
			>
				<img
					src="/assets/images/icons/send_icon.png"
					alt="send icon"
					class="mr-2"
				/>
				Subscribe
			</button>
		</div>
	</div>
</section>
