<section
	class="bg-[url('/assets/images/hero.jpg')] bg-cover h-screen flex items-center"
>
	<div
		class="container mx-auto px-6 md:px-12 lg:flex lg:items-center lg:space-x-6"
	>
		<div class="lg:w-1/2">
			<h1
				class="text-4xl capitalize md:text-5xl lg:text-6xl font-bold text-gray-800 leading-tight mb-4"
			>
				Take the worry out of life with
				<span class="text-accent">Insurance </span> protection
			</h1>

			<p class="text-gray-700 text-lg md:text-xl mb-6">
				Discover the peace of mind that comes with comprehensive
				protection tailored to your needs. We offer reliable coverage
				that safeguards your future and loved ones.
			</p>

			<div class="flex items-center space-x-4">
				<button
					class="bg-accent text-white px-6 py-3 rounded flex items-center space-x-2 hover:bg-accent focus:outline-none focus:ring-2 focus:ring-accent"
				>
					<img
						src="/assets/images/icons/get_started_icon.png"
						alt="get started icon"
					/>
					<span>Get Started</span>
				</button>

				<button
					class="bg-transparent border-2 border-accent text-accent px-6 py-3 rounded flex items-center space-x-2 hover:bg-gray-300 focus:outline-none focus:ring-2 focus:ring-accent"
				>
					<img
						src="/assets/images/icons/contact_us_icon.png"
						alt="contact us icon"
					/>
					<span>Contact Us</span>
				</button>
			</div>
		</div>
	</div>
</section>
