<app-header></app-header>
<app-hero></app-hero>
<app-ourfeatures></app-ourfeatures>
<app-aboutincep></app-aboutincep>
<app-insurance-services></app-insurance-services>
<app-whychooseus></app-whychooseus>
<app-expertteam></app-expertteam>
<app-ourreview></app-ourreview>
<app-blogandnews></app-blogandnews>
<app-getstarted></app-getstarted>
<app-footer></app-footer>
<!-- 
✅ make sure all text matches
✅: change font to montserrat
✅: add background images
    ✅: get all the images
    ✅: place all the images
✅: add image placeholders
✅: colors!

✅: all major layout issues
✅: make large headings in multiple lines
✅: Remove all comments!!

✅: add all leaves and accent images
    ✅: add wave 1
    ✅: add wave 2
    ✅: add all leaves/accents
    
TODO: make it responsive

<app-header></app-header>
<app-hero></app-hero>
<app-ourfeatures></app-ourfeatures>
<app-aboutincep></app-aboutincep>
<app-insurance-services></app-insurance-services>
<app-whychooseus></app-whychooseus>
<app-expertteam></app-expertteam>
<app-ourreview></app-ourreview>
<app-blogandnews></app-blogandnews>
<app-getstarted></app-getstarted>
<app-footer></app-footer>

-->
