<section class="bg-[#497774] py-20 text-white">
	<div
		class="container mx-auto px-6 md:px-12 flex flex-col md:flex-row items-center"
	>
		<div class="w-full md:w-2/3 mb-8 md:mb-0">
			<img src="/assets/images/reviews.png" alt="Customer review image" />
		</div>

		<div class="w-full md:w-1/2 md:pl-24 text-left">
			<h6 class="text-sm font-semibold uppercase mb-2">Our Review</h6>
			<h2 class="text-3xl font-semibold capitalize mb-4">
				What They Say About Us Honest Reviews
			</h2>
			<p class="mb-6">
				We are proud to share some of the honest and heartfelt reviews
				from our clients. Our goal is to consistently deliver
				high-quality service, tailored to meet each client's needs and
				exceed their expectations.
			</p>

			<button
				class="flex p-4 text-sm items-center bg-accent hover:underline"
			>
				<img
					src="/assets/images/icons/get_started_icon.png"
					alt="forward cheveron icon"
					class="h-3 mr-2"
				/>
				View More
			</button>
		</div>
	</div>
</section>
