<section class="bg-zinc-50 py-16">
	<div
		class="container mx-auto px-6 md:px-12 flex flex-col lg:flex-row items-center"
	>
		<div class="lg:w-1/2 mb-8 lg:mb-0">
			<h6 class="text-sm font-semibold text-accent mb-2 uppercase">
				About Incep
			</h6>
			<h2 class="text-3xl md:text-4xl font-bold text-zinc-800 mb-6">
				Life Insurance That Creates Wealth for Everyone
			</h2>

			<div class="space-y-6">
				<div class="flex bg-white p-4 rounded-lg shadow-md">
					<img
						src="/assets/images/icons/trust_icon.png"
						alt="Trusted By Thousands Icon"
						class="mr-4"
					/>
					<div>
						<h3 class="font-bold text-xl text-zinc-800">
							Trusted By Thousands
						</h3>
						<p class="text-zinc-600">
							Join thousands of satisfied clients who trust us for
							their insurance needs.
						</p>
					</div>
				</div>

				<div class="flex bg-white p-4 rounded-lg shadow-md">
					<img
						src="/assets/images/icons/lifeset_icon.png"
						alt="Set for Life Icon"
						class="mr-4"
					/>
					<div>
						<h3 class="font-bold text-xl text-zinc-800">
							Set for Life
						</h3>
						<p class="text-zinc-600">
							Our policies are designed to provide you with
							security and peace of mind.
						</p>
					</div>
				</div>

				<div class="flex bg-white p-4 rounded-lg shadow-md">
					<img
						src="/assets/images/icons/protective_icon.png"
						alt="Protective Insurance Icon"
						class="mr-4"
					/>
					<div>
						<h3 class="font-bold text-xl text-zinc-800">
							Protective Insurance
						</h3>
						<p class="text-zinc-600">
							Get comprehensive coverage that protects your future
							and loved ones.
						</p>
					</div>
				</div>
			</div>
		</div>

		<div class="lg:w-1/2 grid grid-cols-1 gap-4">
			<img
				src="/assets/images/about1.png"
				alt="Image 1"
				class="rounded-lg shadow-lg"
			/>

			<img
				src="/assets/images/about2.png"
				alt="Image 2"
				class="rounded-lg shadow-lg"
			/>

			<img
				src="/assets/images/about3.png"
				alt="Image 3"
				class="rounded-lg shadow-lg"
			/>
		</div>
	</div>
</section>
