<section class="bg-white py-28">
	<div class="text-center mb-12">
		<h6 class="text-accent">OUR FEATURES</h6>
		<h2 class="text-3xl md:text-4xl font-semibold text-zinc-800">
			Better Digital Insurance Begins Right Here
		</h2>
	</div>

	<div
		class="container mx-auto grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-8 px-3 md:px-3"
	>
		<div class="p-6 rounded-lg shadow-lg">
			<div class="mb-4">
				<img
					src="/assets/images/icons/money_back_icon.png"
					alt="Money Back Guarantee Icon"
					class="h-20"
				/>
			</div>
			<h3 class="text-xl font-semibold text-zinc-800 mb-2">
				Money Back Guarantee
			</h3>
			<p class="text-zinc-500">
				Get peace of mind with our money-back guarantee, ensuring
				satisfaction with every policy.
			</p>
		</div>

		<div class="p-6 rounded-lg shadow-lg">
			<div class="mb-4">
				<img
					src="/assets/images/icons/claims_icon.png"
					alt="All Claims at Anytime Icon"
					class="h-20"
				/>
			</div>
			<h3 class="text-xl font-semibold text-zinc-800 mb-2">
				All Claims at Anytime
			</h3>
			<p class="text-zinc-500">
				Access 24/7 support to manage and process your claims whenever
				you need assistance.
			</p>
		</div>

		<div class="p-6 rounded-lg shadow-lg">
			<div class="mb-4">
				<img
					src="/assets/images/icons/digital_insurance_icon.png"
					alt="Digital Insurance Policy Icon"
					class="h-20"
				/>
			</div>
			<h3 class="text-xl font-semibold text-zinc-800 mb-2">
				Digital Insurance Policy
			</h3>
			<p class="text-zinc-500">
				Experience the convenience of digital policies easily accessible
				on your devices.
			</p>
		</div>

		<div class="p-6 rounded-lg shadow-lg">
			<div class="mb-4">
				<img
					src="/assets/images/icons/payment_icon.png"
					alt="Direct Payment App Icon"
					class="h-20"
				/>
			</div>
			<h3 class="text-xl font-semibold text-zinc-800 mb-2">
				Direct Payment App
			</h3>
			<p class="text-zinc-500">
				Make secure, direct payments effortlessly through our
				user-friendly mobile app.
			</p>
		</div>
	</div>
</section>
